snippet MIT "License MIT"
The MIT License (MIT)

Copyright (c) `date +%Y` ${1:Pierre CHAMPION} ${2:pierrescalade@gmail.com}

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE
endsnippet

snippet @@ "pierrescalade@gmail.com" iw
pierrescalade@gmail.com $0
endsnippet

snippet drak "drakirus" iw
drakirus
endsnippet

snippet drak-web "drakirus" iw
drakirus.xyz
endsnippet

snippet github "drakirus" iw
https://github.com/Drakirus/
endsnippet

snippet pub-key "Description" iw
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCyvsVzLhHHV181JOVsFtnl9RipMaxkYL5Sp6obmFDM6ZDUMOpA8hswiS5OXVUqE0EPXAexOHKQZAOp+yVwAaihTLumXSasfVHRf5aoeFnm9t3LfwQgkE3gm7uOW2g1N93EzA7crxN79WHq1MtuyjLwZN3r1aePvjrQkgSliM1n/3Innmy4boqKqSutoL9y3ztJY+j+JX3tjGfYfUgD9cLHgVJRsBF+zc6JvO/KzDserQbQmpvDGVKIYbvGXKZUWTeiUSSIxMR5A7PH97KuYd1L0rid+7gcSlDO1/HpzCmIFNCcF7UG6ng7xqQYUEujddQcO6V6AE1elIEEkmOp8YjETiBrROIeJgfZWfzT/PcCM7oCyMdeEbGOblCX5KGCgj+kWN5Nst3+Tau2b3QFCrY7Hs3hm9/G01Thx3QyD/K+jFEyF2nKAIUbBBUJ8qn9cGFNaBm2KqChXKX+ON4YipIRdEoIGF3uDK3DJKYHdM7yjwS+Aq568w+AD3Fp1cB9zs4fJ8AfJAjkn0MiGrL1vBw///Bpl9X1VTgeZu6e7Z5+OsRY23vnru7XSgD/MFt1QQ5iGJRGkSPp3Vgqo/MGwZmgAzBQRUZpx611KX3pDAh7Jf0sgLjhdJSVrfaMkCxGOVWp+KpGvWXmoQ70+Aw9wVKcxuqRQ/DajJscrEDWNqdFzw== pierrescalade@gmail.com
endsnippet


# vim:set foldmethod=manual:
