
snippet     malloc
	(${1}*)malloc(sizeof($1)*${2});
#===========================================================
# scanf
#===========================================================
snippet     scanf
	scanf("${1}", ${2});

snippet     sscanf
	sscanf(${1:#:str_pointer}, "${2}", ${3});

snippet     fscanf
	fscanf(${1:#:file_pointer}, "${2}", ${3});
