/bin/nvim
/bin/bw
/bin/tsshd
/bin/trzsz
/bin/tssh
/bin/rbw_bin
/bin/nvtop
/bin/rg
/bin/mosh-*
/bin/fd
/bin/zsh
bin/nvim-linux64*
bin/nvim-linux-x86_64/
gcc*
/bin/wezterm
/bin/jq
*.zwc
zsh/priv.zsh
/man
/share
.watchmanconfig
bin/gnupg/
bin/watchman_bin
.aider*
bin/tmux
