[Desktop Entry]
Version=1.0
Name=Google Chrome (beta)
GenericName=Web Browser
GenericName[fr]=Navigateur Web
Comment=Access the Internet
Comment[fr]=Accéder à Internet
StartupWMClass=Google-chrome-beta
Exec=/usr/bin/google-chrome-beta -profile-directory=Profile\\ 1
Terminal=false
Icon=internet-web-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=NewWindow;NewPrivateWindow;
X-XFCE-Source=file:///usr/share/applications/google-chrome-beta.desktop

Path=
StartupNotify=false

[Desktop Action NewWindow]
Name=New Window
Name[fr]=Nouvelle fenêtre
StartupWMClass=Google-chrome-beta
Exec=/usr/bin/google-chrome-beta

[Desktop Action NewPrivateWindow]
Name=New Incognito Window
Name[fr]=Nouvelle fenêtre de navigation privée
StartupWMClass=Google-chrome-beta
Exec=/usr/bin/google-chrome-beta --incognito
