[Desktop Entry]
Name=Crypt Of The Necrodancer test
Comment=Crypt Of The Necrodancer test
GenericName=Game
Exec=/home/drakirus/Games/crypt_of_the_necrodancer/data/noarch/game/perso.sh
Icon=/home/drakirus/Games/crypt_of_the_necrodancer/data/noarch/support/icon.png
Type=Application
StartupNotify=false
Categories=Game;
StartupWMClass=Crypt_of_the_necrodancer
X-XFCE-Source=file:///home/drakirus/.local/share/applications/Crypt_of_the_necrodancer.desktop
